.container_w{
  max-width: 1160px;
  margin: 0 auto;
}
.navbar{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 90px;
  width: 100%;
}

.logo {
  width: 191px;
    height: 68px;
}



.heading {
    font-size:40px;
    margin: 0px 0px 18px 257px;
}
.login{
  font-size: 23px;
  color: black;
  display: flex;
  
}

/* .css-1to51ap-MuiBadge-root .MuiBadge-badge{
right: 29px ;
top: 2px ;
border: 1.7px solid white ;
padding: 2px 5px ;
display: block;
} */


.hr_line{
  width: 100%;
  height: 3px;
  background-color: gray;
}